{{define "content"}}
<div class="row login">
	<div class="columns small-6 small-offset-3">
		<fieldset>
			<legend>Login</legend>
			<form action="/login" method="post" class="row">
				<div class="row">
					<div class="columns small-6 text-right">
						<label for="email">Email</label>
					</div>
					<div class="columns small-6">
						<input type="email" name="email" value="{{.Email}}" required pattern="[^]+@[^]+[.][a-z]{2,63}$" autocomplete="email"/>
					</div>
				</div>
				<div class="row">
					<div class="columns small-6 text-right">
						<label for="password">Password</label>
					</div>
					<div class="columns small-6">
						<input required="" type="password" name="password" value="{{.Password}}" required minlength="8" aria-describedby="passwordHint" autocomplete="current-password" />
					</div>
				</div>
				<div class="row">
					<div class="columns small-12 text-right">
						<a class="password-reset">
							I forgot my password
						</a>
						<button class="small">
							Login
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>
</div>
{{end}}